In [1]:
import quandl

In [4]:
mydata_01 = quandl.get("FRED/GDP")

In [5]:
mydata_01.tail()
#ultime cinque voci utilizzate trimestrale

                Value
Date
2018-01-01  20041.047
2018-04-01  20411.924
2018-07-01  20658.204
2018-10-01  20865.140
2019-01-01  21062.691

In [6]:
mydata_01.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742

In [7]:
#devo importare la libreria pandas per salvare
import pandas as pd

In [15]:
#salva i dati in formato csv
mydata_01.to_csv('D:\esempio1.csv')

In [16]:
mydata_01.to_excel('D:\esempio2.xlsx')